@using BonContact.Web.HtmlHelpers
@model BonContact.Web.Models.ContactViewModel

@*@model PagedList.IPagedList<BonContact.Web.Entities.Contact>
    @using PagedList.Mvc;*@

@{
    ViewBag.Title = "Index";
    AjaxOptions ajaxOptions = new AjaxOptions()
    {
        UpdateTargetId = "tableBody"
    };
}

<link href="~/Content/lightbox.css" rel="stylesheet" />

<h2>Contact List</h2>

<div class="row" style="margin: 20px 0 20px;">
    <div class="col-md-6 pull-right text-right">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </div>

    @*@using (Html.BeginForm("Index", "Contact", FormMethod.Get))*@
    @using (Ajax.BeginForm("Index", new { @class = "col-md-6" }, ajaxOptions))
    {
        <div class="input-group" style="margin-left: 5px;">
            @Html.Label("Find by name :", new { @class = "input-group-addon" })
            @Html.TextBox("SearchString", null, new { @class = "form-control" })
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    }
</div>
<table class="table table-bordered table-striped table-hover" id="tableBody">
    <thead>
        <tr>
            <th style="text-align:center;">
                Image
            </th>
            <th style="text-align:center;">
                First Name
            </th>
            <th style="text-align:center;">
                Last Name
            </th>
            <th style="text-align:center;">
                Date Added
            </th>
            <th style="text-align:center;">
                Intests
            </th>
            <th style="text-align:center;">
                Operations
            </th>
        </tr>
    </thead>
    @foreach (var item in Model.Contacts)
    {
        <tr style="text-align:center;">
            <td>
                @if (item.Files.Any(f => f.FileType == BonContact.Web.Entities.FileType.Photo))
                {
                    @*<a href="#myPopup" data-rel="popup" data-position-to="window">*@
                    @*<img id="myImg" class="img-thumbnail" src="~/File?id=@item.Files.First(f => f.FileType == BonContact.Web.Entities.FileType.Photo).FileID" alt="image" height="50" width="50" />*@
                    @*</a>*@

                    <a class="myImages" href="#">
                        <img id="myImg" class="img-thumbnail" src="~/File?id=@item.Files.First(f => f.FileType == BonContact.Web.Entities.FileType.Photo).FileID" alt="image" height="50" width="50" />
                    </a>

                    <div tabindex="0" class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" type="button" data-dismiss="modal">X</button>
                                    <h3 class="modal-title">@item.FirstName &nbsp; @item.LastName</h3>
                                </div>
                                <div class="modal-body">
                                    @*<img id="myImg" class="img-thumbnail" src="~/File?id=@item.Files.First(f => f.FileType == BonContact.Web.Entities.FileType.Photo).FileID" alt="image" />*@
                                </div>
                                @*<div class="modal-footer">
                                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>*@
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <img src="~/Images/no-thumb.jpg" height="50" with="50" />
                }
            </td>

            

            <td style="vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td style="vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td style="vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td style="vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.Interests)
            </td>
            <td style="text-align:center; vertical-align: middle;" width="200">
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary", @style = "padding:10px;" })
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-primary", @style = "padding:10px;" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-primary", @style = "padding:10px;" })
            </td>
        </tr>
    }

</table>



<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
</div>
<br />

@section Scripts{
   
    <script>
        $(document).ready(function () {
            $('.img-thumbnail').click(function () {
                console.log($(this).attr('src'));
                var srcHtml = $(this).attr('src');
                console.log(srcHtml);
                $('.modal-body').empty();
                var title = $(this).parent('a').attr("title");
                $('.modal-title').html(title);
                var imgHtml = '';
                imgHtml += '<img id="myImg" class="img-thumbnail" src="' + srcHtml + '" alt="image" width="300"/>';

                @*<img id="myImg" class="img-thumbnail" src="~/File?id=@item.Files.First(f => f.FileType == BonContact.Web.Entities.FileType.Photo).FileID" alt="image" />*@
                $('.modal-body').html(imgHtml);
                //$($(this).parents('div').html()).appendTo('.modal-body');
                //$($('a.myImages').html()).appendTo('.modal-body');
                //$(".modal-body img").attr("width", "500").attr("height", "600");
                //console.log($('a.myImages').html());
                $('#myModal').modal({ show: true });
                //console.log($('img#myImg').attr('src'));
            });
        });
    </script>
}
