@using BonContact.Web.HtmlHelpers
@model BonContact.Web.Models.ContactViewModel

@*@model PagedList.IPagedList<BonContact.Web.Entities.Contact>
    @using PagedList.Mvc;*@

@{
    ViewBag.Title = "Index";
    AjaxOptions ajaxOptions = new AjaxOptions()
    {
        UpdateTargetId = "tableBody"
    };
}
<link href="~/Content/modal.css" rel="stylesheet" />
<link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
<h2>Contact List</h2>

<div class="row" style="margin: 20px 0 20px;">
    <div class="col-md-6 pull-right text-right">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </div>

    @*@using (Html.BeginForm("Index", "Contact", FormMethod.Get))*@
    @using (Ajax.BeginForm("Index", new { @class = "col-md-6" }, ajaxOptions))
    {
        <div class="input-group" style="margin-left: 5px;">
            @Html.Label("Find by name :", new { @class = "input-group-addon" })
            @Html.TextBox("SearchString", null, new { @class = "form-control" })
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    }
</div>
<table class="table table-bordered table-striped table-hover" id="tableBody">
    <thead>
        <tr>
            <th style="text-align:center;">
                Image
            </th>
            <th style="text-align:center;">
                First Name
            </th>
            <th style="text-align:center;">
                Last Name
            </th>
            <th style="text-align:center;">
                Date Added
            </th>
            <th style="text-align:center;">
                Intests
            </th>
            <th style="text-align:center;">
                Operations
            </th>
        </tr>
    </thead>
    @foreach (var item in Model.Contacts)
    {
        <tr style="text-align:center;">
            <td>
                @if (item.Files.Any(f => f.FileType == BonContact.Web.Entities.FileType.Photo))
                {
                    @*<a href="#myPopup" data-rel="popup" data-position-to="window">*@
                        @*<img id="myImg" class="img-thumbnail" src="~/File?id=@item.Files.First(f => f.FileType == BonContact.Web.Entities.FileType.Photo).FileID" alt="image" height="50" width="50" />*@
                    @*</a>*@

                    <a class="myImages" href="~/File?id=@item.Files.First(f => f.FileType == BonContact.Web.Entities.FileType.Photo).FileID">
                        <img id="myImg" class="img-thumbnail" src="~/File?id=@item.Files.First(f => f.FileType == BonContact.Web.Entities.FileType.Photo).FileID" alt="image" height="50" width="50" />
                    </a>

                    @*<div data-role="popup" id="myPopup">
                        <p>@item.FirstName &nbsp; @item.LastName</p>
                        <a href="#pageone" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon--delete ui-btn-icon-notext ui-btn-right">Close</a>
                        <img  src="~/File?id=@item.Files.First(f => f.FileType == BonContact.Web.Entities.FileType.Photo).FileID" height="800" width="750" />
                    </div>*@
                    <div id="myModal" class="modal">
                        <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                        <img class="modal-content" id="img01" />
                        <div id="caption"></div>
                    </div>
                }
                else
                {
                    <img src="~/Images/no-thumb.jpg" height="50" with="50" />
                }
            </td>

            <td style="vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td style="vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td style="vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td style="vertical-align: middle;">
                @Html.DisplayFor(modelItem => item.Interests)
            </td>
            <td style="text-align:center; vertical-align: middle;" width="200">
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary", @style = "padding:10px;" })
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-primary", @style = "padding:10px;" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-primary", @style = "padding:10px;" })
            </td>
        </tr>
    }

</table>


<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
</div>
<br />

@section Scripts{
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script src="~/Scripts/jquery.fancybox.pack.js"></script>
    <script>
        //var modal = $('#myModal');
        //var img = $('#myImg');
        //var modalImg = $('#img01');
        //var captionText = $('#caption');
        //img.onclick = function () {
        //    modal.style.display = 'block';
        //    modalImg.src = this.src;
        //    captionText.innerHTML = this.alt;
        //}

        //var span = $('.close')[0];
        //span.onclick = function () {
        //    modal.style.display = "none";
        //}
        // Get the modal
        //var modal = document.getElementById('myModal');

        //// Get the image and insert it inside the modal - use its "alt" text as a caption
        //var img = document.getElementById('myImg');
        //var modalImg = document.getElementById("img01");
        //var captionText = document.getElementById("caption");
        //img.onclick = function () {
        //    modal.style.display = "block";
        //    modalImg.src = this.src;
        //    captionText.innerHTML = this.alt;
        //}

        //// Get the <span> element that closes the modal
        //var span = document.getElementsByClassName("close")[0];

        //// When the user clicks on <span> (x), close the modal
        //span.onclick = function () {
        //    modal.style.display = "none";
        //}

        $("a.myImages").fancybox();
    </script>
    
}